on:
  push:
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: ./gradlew lintDebug
  assemble:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: ./gradlew assembleRelease
      - shell: bash
        run: ./gradlew bundleRelease
      - if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            app/build/outputs/apk/release/*-release-unsigned.apk
            app/build/outputs/bundle/release/*-release.aab
